detect-secrets==1.0.3
myst-parser
pre-commit
python-dotenv
Sphinx
toml

#analysis
pandas
spacy

# test
coverage
coverage-badge
pytest
pytest-cov

# linting
black
flake8
flake8-pyproject
pylint
pylint-exit

#readme
anybadge

#build
build
