detect-secrets==1.0.3
myst-parser
pre-commit
python-dotenv
Sphinx
toml

#analysis
pandas
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz

# test
coverage
coverage-badge
pytest
pytest-cov

# linting
black
flake8
flake8-pyproject
pylint
pylint-exit

#readme
anybadge

#build
build
